.column1{
    float: left;
    width: 20vw;
    margin: 0 25px 25px 100px;
    background-color: #ffffff;
    height: 100%;
    box-shadow: 0 0 15px 0 #222;
    .profile{
        .b1{
            padding: 5px 25px;
        }
        &--top{
            .img{
                img{
                    width: 100%;
                }
            }
        }
    }
}