@import "config";
@import "column1";
@import "column2";

.main{
    background-color: aliceblue;
    min-height: 100%;
    line-height: 2;
    h1{
        color: $primary-color;
    }
    p,ul li, a {
        text-decoration: none;
        color: $secondary-color;
    }
}